footer {

    position:fixed ;
    bottom:0;
    width:100%;
    height:40px;
    text-align: center;
    background-color: #bbb;
    padding-top: 10px;

 }

 .defaultParagraph {
    width: 50%
 }

 #outputArea {
    margin-bottom: 80px;
 }